.home {
	width: 740px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(234, 237, 237);
}
.home__banner {
	margin-top: 0;
	width: 740px;
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	z-index: -1;
	margin-bottom: -200px;
}
.home__row {
	display: flex;
	z-index: 1;
	margin-left: 10px;
	margin-right: 10px;
}
@media only screen and (min-width: 800px) {
	.home {
		width: 100%;
		max-width: 1500px;
		margin-left: auto;
		margin-right: auto;
	}
	.home__banner {
		width: 100%;
		margin-bottom: -320px;
	}
	.home__row {
		display: flex;
		z-index: 1;
		margin-left: 5px;
		margin-right: 5px;
	}
}
